cmake
dlib

pip
bump2version
wheel
watchdog
flake8
tox
coverage
Sphinx
twine

pytest
pytest-runner

face-recognition
face-recognition-models
Flask

google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
google-cloud-storage
