<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>RS-MQF 1140 V.2</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/layout.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/mediaqueries.css') }}" type="text/css" media="all">
<script src="{{ url_for('static', filename='scripts/jquery.1.9.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/jquery-mobilemenu.min.js') }}"></script>
<!--[if lt IE 9]>
<link rel="stylesheet" href="styles/ie.css" type="text/css" media="all">
<script src="scripts/ie/css3-mediaqueries.min.js"></script>
<script src="scripts/ie/ie9.js"></script>
<script src="scripts/ie/html5shiv.min.js"></script>
<![endif]-->
<!-- BEFORE USING THIS FRAMEWORK REMOVE THIS DEMO STYLING - ONLY USED TO EMPHASISE THE DIV CONTAINERS IN THE CONTENT AREA -->
<style type="text/css">
div.full_width{margin-top:20px;}
div.full_width:first-child{margin-top:0;}
div.full_width div{color:#666666; background-color:#DEDEDE;}
</style>
<!-- END DEMO STYLING -->
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1><a href="#">PAPI IOT DEMONSTRATION</a></h1>
    </div>
  </header>
</div>
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <nav id="topnav">
    <ul class="clear">
      <li class="active first"><a href="/">Homepage</a></li>
      <li><a href="{{ url_for('show_video') }}">Video Feed</a></li>
       <li><a href="{{ url_for('new_user') }}">Add User</a></li>
      <li><a href="{{ url_for('remove_user') }}">Remove User</a></li>
    </ul>
  </nav>
</div>
<!-- content -->
<div class="wrapper row3">
  <div id="container">
    <!-- ################################################################################################ -->
    <div class="full_width clear">
      <h2>Video Feed</h2>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="full_width clear">
      <img style="width: 100%; height:80%; background-attachment: fixed;" id="bg" class="center" src="{{ url_for('video_feed') }}">
    </div>


    <!-- ################################################################################################ -->
  </div>
</div>
<!-- Footer -->
<div class="wrapper row4">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </footer>
</div>
</body>
</html>